/* Global colors variables */
:root {
    --plum: #963484;
    --true-blue: #3066BE;
    --argentinian-blue: #60afff;
    --deep-sky-blue: #28c2ff;
    --aqua: #2AF5FF;
}

/* GLobal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(96, 175, 255, 0.15);
}

h1, h2, h3 {
    margin: 10px 0;
}

/*Header styles*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background-color: var(--true-blue);
    border-bottom: 1px solid var(--argentinian-blue);
}

.header-sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}

header a {
    color: white;
    text-decoration: none;
}

header h1[data-text]:hover {
    color: transparent;
}

header h1[data-text]:hover span:nth-child(1) {
    color: rgb(0, 255, 0);
}

header h1[data-text]:hover span:nth-child(2) {
    color: rgba(0, 235, 0);
}

header h1[data-text]:hover span:nth-child(3) {
    color: rgba(0, 215, 0);
}

header h1[data-text]:hover span:nth-child(4) {
    color: rgba(0, 195, 0);
}

header h1[data-text]:hover span:nth-child(5) {
    color: rgba(0, 175, 0);
}

header h1[data-text]:hover span:nth-child(6) {
    color: rgba(0, 155, 0);
}

header h1[data-text] {
    margin: 0 1.2rem;
    color: white;
    position: relative;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    margin-right: 1.3rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

/*Main Content*/
main {
    padding: 2.5rem;
}


/*About styles*/
section#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about img {
    width: 8rem;
    margin: 4px;
    border: 2px solid var(--deep-sky-blue);
}

section#work .image-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}

section#work .work-sample {
    position: relative;
    transition: transform 0.4s ease;
}

section#work .work-sample:hover {
    transform: scale(1.05);
}

section#work .work-sample:first-child {
    grid-column: span 2;
}

section#work .work-sample img {
    display: block;
    width: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

section#work .work-sample h3 {
    position: absolute;
    top: 50%;
    bottom: 50%;
    opacity: .6;
    background-color: var(--aqua);
    border: 1px solid var(--true-blue);
    padding: 6px 10px 25px;
}

/*Footer styles*/
footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr 1rem;
    margin-top: 1.15rem;
    background-color: var(--true-blue);
}

footer div.info {
    max-height: 70px;
}

footer div.info h2 {
    color: white;
    margin-left: 1.2rem;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: .5rem;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer p.copyright {
    text-align: center;
    margin-top: .5rem;
}

footer .thank-you {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75rem
}

footer .thank-you a {
    margin: 0 0.25em;
}

/*Media queries*/
@media screen and (max-width: 768px) {
    section#work .image-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.05rem;
    }

    section#work .work-sample:first-child {
        grid-column: 1;
    }
}